.feedbackCard{
  background-color: #181818;

  .MuiPaper-root{
    background-color: #181818;
    color: white;

    .MuiTypography-root{
      color: white;
      font-size: 1rem;
    }
  }
}

.feedbackExtender{
  height: 500px;
}