.fbox{
    justify-content: center;
    display: flexbox;

    .MuiDataGrid-root{
        color: white;
        
        .MuiTablePagination-displayedRows {
            color: white;
        }
    }

    .muiboxmain{
        display: flex;
    }

    .buttonflex{
        margin-top: 1.6rem;
        display: flex;
    }

    .MuiFormHelperText-root{
        color: #ffdd00;
    }
}